---
layout: map
pagination:
    data: trails.trails
    size: 1
    alias: trail
permalink: "trails/{{ trail.slug }}/"
path: Trails
---
<div class="flex w-full">
    <div class="flex bg-gray-100 flex-stretch" style="width: 75%">
        <div class="w-full">
            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
    <div class="flex flex-col flex-grow flex-stretch">
        <div class="flex-grow flex-shrink p-4 bg-green-800 flex-basis">
            <h3 class="font-black text-white uppercase">Trail stats/status:</h3>
        </div>
        <div class="flex-grow flex-shrink p-4 bg-green-700 flex-basis">
            <h3 class="font-black text-white uppercase">Groups that maintain this trail:</h3>
        </div>
    </div>
</div>
<div class="flex flex-col justify-center py-16 mx-auto bg-gray-100">
    <div class="container">
        <h2 class="text-5xl font-black text-green-800 uppercase border-b border-green-800">{{ trail.name }}</h2>
        <ol>
            <li>Trail Name: {{ trail.name }}</li>
            <li>Area: {{ trail.area }}</li>
        </ol>
    </div>
</div>
<script>
    // customize the center for each trail separately
    var map = L.map('map', { fullscreenControl: true }).setView([34.20486, -118.12827], 16)
    var gl = L.mapboxGL({
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        style: 'https://api.maptiler.com/maps/5d346e94-c6a9-4c69-a2a2-47278fa23542/style.json?key=VK9en7fqcN8VTzfv5LVe'
    }).addTo(map)

    let marker, icon
    let markers = []
    {% for trailplace in trail.places %}
    {% for place in places.places %}
    {% if trailplace === place.id %}
    icon = L.icon({
        iconUrl: '/static/img/icons/{{place.maki or "marker"}}-15.svg',
        iconSize: [30, 30]
    })
    parsed = JSON.parse('{{ place.location | safe }}')
    marker = L.marker([parsed.coordinates[1], parsed.coordinates[0]], { icon })
        .bindPopup("<b>{{ place.name }}</b><br>{{place.description}}")
        .addTo(map)
    markers.push(marker)
    {% endif %}
    {% endfor %}
    {% endfor %}
    let group = new L.featureGroup(markers)
    map.fitBounds(group.getBounds().pad(0.5))

    // for inspecting
    let mgl = gl._glMap

    run = (e) => {
    let features = mgl.queryRenderedFeatures(mgl.project([e.latlng.lng, e.latlng.lat]))
        console.log(features)
    }

    map.on('click', (e) => {
        run(e)
    })
</script>
