---
layout: map
pagination:
    data: trails.trails
    size: 1
    alias: trail
permalink: "trails/{{ trail.slug }}/"
path: Trails
---

<div class="flex flex-col justify-center mx-auto bg-gray-100">
    <div class="container mx-auto">
        <div class="w-3/4 py-10 mx-auto">
            <h2 class="pb-6 text-4xl font-black text-green-800 uppercase">{{ trail.name }}</h2>
            <h4><strong>Last Updated:</strong> July 8, 2021</h4><br><br>
            <ol>
                <li class="font-serif leading-loose"><strong>Description:</strong> Information about this trail and the latest developments.</li><br>
            </ol>
        </div>
    </div>
</div>

<div class="flex w-full">
    <div class="flex bg-gray-100 flex-stretch" style="width: 75%">
        <div class="w-full">
            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
    <div class="flex flex-col flex-grow flex-stretch">
        <div class="flex-grow flex-shrink p-4 bg-green-800 flex-basis">
            <h3 class="font-black text-white uppercase">Trail status</h3>
            {% if trail.status === true %}
            <h3 class="text-white">Open</h3>
            {% else %}
            <h3 class="text-yellow-200">Closed</h3>
            {% endif %}
        </div>
        <div class="flex-grow flex-shrink p-4 bg-green-700 flex-basis">
            <h3 class="font-black text-white uppercase">This trail is maintained by:</h3>
            <ul class="text-white list-disc list-inside">
                <li class="text-white"> Group 1</li>
                <li class="text-white"> Group 2</li>
                <li class="text-white"> Group 3</li>
            </ul>
        </div>
        <div class="flex-grow flex-shrink p-4 bg-green-800 flex-basis">
            <h3 class="font-black text-white uppercase">Trail data:</h3>
            <table class="text-white">
                <tr><td>Length:</td><td> X Miles</td></tr>
                <tr><td>Surface:</td><td> Dirt</td></tr>
                <tr><td>Open to:</td><td> Hike / Bike / Horse</td></tr>
            </table>
        </div>
    </div>
</div>

<div class="bg-green-700">
    <div class="container flex justify-between py-8">
        <div class="flex">
            <h3 class="self-start text-xl font-extrabold text-white uppercase">More about this Trail</h3>
            <ul class="self-stretch pl-10 text-white list-disc list-inside">
                <li>Title of a Long Specific Resource Guide</li>
                <li>Title of a Long Specific Resource Guide</li>
            </ul>
        </div>
        <button class="self-end p-3 px-8 leading-7 tracking-wide text-left text-green-800 bg-yellow-200 flex-end font-extralight lg:text-center">Suggest an Edit</button>
    </div>
</div>


<script>
    // customize the center for each trail separately
    var map = L.map('map', { fullscreenControl: true }).setView([34.20486, -118.12827], 16)
    var gl = L.mapboxGL({
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        style: 'https://api.maptiler.com/maps/5d346e94-c6a9-4c69-a2a2-47278fa23542/style.json?key=VK9en7fqcN8VTzfv5LVe'
    }).addTo(map)

    let marker, icon
    let markers = []
    {% for trailplace in trail.places %}
    {% for place in places.places %}
    {% if trailplace === place.id %}
    icon = L.icon({
        iconUrl: '/static/img/icons/{{place.maki or "marker"}}-15.svg',
        iconSize: [30, 30]
    })
    parsed = JSON.parse('{{ place.location | safe }}')
    marker = L.marker([parsed.coordinates[1], parsed.coordinates[0]], { icon })
        .bindPopup("<b>{{ place.name }}</b><br>{{place.description}}")
        .addTo(map)
    markers.push(marker)
    {% endif %}
    {% endfor %}
    {% endfor %}
    let group = new L.featureGroup(markers)
    map.fitBounds(group.getBounds().pad(0.5))

    // for inspecting
    let mgl = gl._glMap

    run = (e) => {
    let features = mgl.queryRenderedFeatures(mgl.project([e.latlng.lng, e.latlng.lat]))
        console.log(features)
    }

    map.on('click', (e) => {
        run(e)
    })
</script>
