@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl lg:text-7xl;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.fs-logo {
  background-image: url(/static/img/Forest_Service_logo.svg);
  display: block;
  height: 57px;
  width: 51px;
  background-size: 51px;
}
