backend:
  # Use netlify identity as backend
  name: git-gateway
  branch: master
  ### enable below lines for github integration ###
  # name: github
  # repo: surjithctly/neat-starter
media_folder: "src/static/img"
public_folder: "/static/img"

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - label: "Trails Data"
    name: "trails"
    extension: "json"
    editor:
      preview: true
    files:
      - file: "src/_data/trails.json"
        label: "Trails"
        name: "trails"
        widget: "object"
        collapsed: false
        fields:
          - label: Trails
            name: trails
            widget: list
            collapsed: true
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Area, name: area, widget: string }
              - { label: Trailhead, name: trailhead, widget: map }
              - { label: Trailhead Name, name: trailheadName, widget: string }
              - { label: Slug, name: slug, widget: string }
              - { label: ID, name: id, widget: string }
      - file: "src/_data/areas.json"
        label: "Areas"
        name: "areas"
        widget: "object"
        collapsed: false        
        fields:
          - label: Areas
            name: areas
            widget: list
            collapsed: true
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Slug, name: slug, widget: string }
              - { label: ID, name: id, widget: string }
  - label: "Settings"
    name: "settings"
    editor:
      preview: false
    files:
      - label: "Navigation"
        name: "items"
        file: "src/_data/navigation.yaml"
        fields:
          - label: Nav Items
            name: items
            widget: list
            allow_add: false
            collapsed: false
            fields:
              - { label: Title, name: text, widget: string }
              - { label: URL, name: url, widget: string }
      - label: "Quick Links"
        name: "links"
        file: "src/_data/quicklinks.yaml"
        fields:
          - label: Nav Items
            name: links
            widget: list
            collapsed: false
            fields:
              - { label: Title, name: title, widget: string }
              - { label: URL, name: url, widget: string }
              - { label: Description, name: desc, widget: string }
      - label: "Meta Settings"
        name: "settings"
        file: "src/_data/settings.yaml"
        fields:
          - { label: Name, name: name, widget: string }
          - { label: Author, name: author, widget: string }
          - { label: URL, name: url, widget: string }
      - label: "Alert"
        name: "alert"
        file: "src/_data/alert.yaml"
        fields:
          - { label: Alert Text, name: text, widget: string }
          - { label: Alert Status, name: status, widget: boolean }
          - { label: Alert Link, name: string, widget: string }
          - { label: Alert Link Status, name: linkStatus, widget: boolean }
  - label: "Blog"
    name: "blog"
    folder: "src/posts"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - widget: select
        label: "tags"
        name: "tags"
        multiple: true
        create: true
        options: ["Tags", "created", "from", "config.yml"]
