---
layout: default
title: Trail Angeles
path: Home
---
{% include "./_includes/partials/slider.html" %}

<div class="container flex flex-col justify-center py-16 mx-auto">
  <h2 class="font-sans text-4xl font-black text-green-800 uppercase border-b border-green-800">Featured trails</h2>
  {% include "./_includes/partials/trail-highlights.html" %}
</div>

<div class="flex flex-col justify-center py-16 mx-auto bg-gray-100">
  <div class="container">
    <h2 class="font-sans text-4xl font-black text-green-800 uppercase border-b border-green-800">Featured volunteer groups</h2>
    {% include "./_includes/partials/group-highlights.html" %}
  </div>
</div>

{% include "./_includes/partials/mailer.html" %}
