---
layout: map
pagination:
  data: places.places
  size: 10
path: Places
---
<div class="container flex flex-col justify-center py-16 mx-auto">
  <h2 class="text-5xl font-black text-green-800 uppercase border-b border-green-800">Find a trail, creek & more</h2>  
  <div class="flex w-full mt-3 bg-gray-100 flex-stretch">
    <div class="w-full">
        <div id="map" class="w-full h-96"></div>
    </div>
  </div>
  <table class="w-full my-8 border-none table-auto">
  {% set background = cycler("bg-green-900", "bg-green-700") %}
  {%- for item in pagination.items %}
    <tr onclick="window.location='/places/{{item.slug}}'" class="hover:bg-yellow-100 cursor-pointer border-none text-white {{ background.next() }}">
      <td class="p-4 font-extrabold border-none cursor-pointer">{{ item.name }}</td>
      <td class="p-4 border-none cursor-pointer ">{{ "Open" if item.status === true else "Closed" }}</td>
      <td class="p-4 border-none cursor-pointer ">{{ item.area }}</td>
    </tr>
  {% endfor -%}
  </table>
</div>

<script>
  // customize the center for each place separately
  var map = L.map('map', { fullscreenControl: true }).setView([34.20486, -118.12827], 16)
  var gl = L.mapboxGL({
      attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
      style: 'https://api.maptiler.com/maps/364415f4-df4a-4442-9916-a7e8d323bffc/style.json?key=VK9en7fqcN8VTzfv5LVe'
  }).addTo(map)

  let marker, icon
  let markers = []
  {% for place in places.places %}
  {% for trailpoint in place.points %}
  {% for point in points.points %}
  // {{point}}
  {% if trailpoint === point.id %}
  icon = L.icon({
    iconUrl: '/static/img/icons/{{point.maki or "marker"}}-15.svg',
    iconSize: [30, 30]
  })
  parsed = JSON.parse('{{ point.location | safe }}')
  marker = L.marker([parsed.coordinates[1], parsed.coordinates[0]], { icon })
    .bindPopup("<b>{{ point.name }}</b><br>{{point.description}}")
    .addTo(map)
  markers.push(marker)
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
  let group = new L.featureGroup(markers)
  map.fitBounds(group.getBounds().pad(0.5))

  // for inspecting
  let mgl = gl._glMap

  run = (e) => {
  let features = mgl.queryRenderedFeatures(mgl.project([e.latlng.lng, e.latlng.lat]))
    console.log(features)
  }

  map.on('click', (e) => {
    run(e)
  })
</script>
