/*---
permalink: /sw.js
---*/
let cacheName = 'offline-store'

self.addEventListener('install', (e) => {
  e.waitUntil(
    caches.open(cacheName).then((cache) => cache.addAll([
{% for post in collections.postsmarkdown %}
      '/posts/{{post.data.title | slugify}}',
{% endfor -%}
    ])),
  );
});


var cache = async (req, res) => {
  const cache = await caches.open(cacheName)
  console.log(`[Service Worker] Caching new resource: ${req.url}`)
  await cache.put(req, res.clone())
  return res;
}

self.addEventListener("fetch", (e) => {
  var handler = async () => {
    if (!e.request.url.startsWith('http')) {
      console.log(`[Service Worker] Skipping: ${e.request.url}`)
      return fetch(e.request)
    }

    let response
    try {
      response = await fetch(e.request)
      await cache(e.request, response)
      return response
    } catch (err) {
      console.log("Fetch error", err)
      console.log(`[Service Worker] Serving from cache: ${e.request.url}`)
      return caches.match(e.request)
    }
  }

  e.respondWith(handler())
})
