/*---
layout: default
pagination:
  data: orgs.organizations
  size: 100
path: Volunteer Groups
---*/
<div class="container flex flex-col justify-center pt-8 mx-auto lg:pt-16">
  <h2 class="text-3xl font-black text-green-800 uppercase border-b border-green-800 lg:text-5xl">Find a volunteer group</h2>  
</div>
<div class="container flex flex-col items-start pt-8 pb-4 lg:flex-row">
    <button style="flex-basis: 25%" class="px-8 py-3 mr-6 text-lg font-medium leading-7 tracking-wide text-green-800 bg-yellow-200 reset-filters">Choose Filters</button>
  <ul>
    {%- for filter in sortablefilters.filters %}
    <li style="font-size: 15px" class="inline-block px-4 py-1 my-1 mr-2 tracking-wide text-gray-800 bg-gray-200 rounded cursor-pointer lg:mx-2 hover:bg-yellow-50 sortable-filter" data-id={{filter.id}}>{{filter.name}}</li>
    {% endfor -%}
  </ul>
</div>
<div class="md:container">
  <div class="grid w-full grid-cols-1 gap-4 my-8 md:grid-cols-2 lg:grid-cols-3 lg:mx-0">
    {% set background = cycler("bg-green-900", "bg-green-700") %}
    {%- for item in pagination.items %}
    <div class="volunteer-group {{ background.next() }}" {%- for filter in item.filters %} data-{{filter}}=true {% endfor -%}>
      {% if item.photo != nil %}
        <a href="/volunteer-groups/{{item.slug}}" alt="{{item.name}}">
          <img src="{{item.photo}}" style="height: 160px; width: 100%; object-fit: cover;">
        </a>
      {% else %}
        <div class="bg-yellow-500 h-80"></div>
      {% endif %}
      <div class="flex flex-col justify-between p-8">
        <h3 class="text-xl font-black text-white uppercase">
          <a href="/volunteer-groups/{{item.slug}}" alt="{{item.slug}}">{{ item.name }}</a>
        </h3>
        <br>
          <a href="/volunteer-groups/{{item.slug}}" alt="{{item.name}}">
            <p class="font-serif text-sm font-light leading-6 tracking-wide text-white">{{ item.description | truncate(200) }}</p>
          </a>
        <br>
        <a class="self-end float-right p-1 text-xl font-extrabold text-green-900 uppercase bg-yellow-200 rounded-full go-button" href="/volunteer-groups/{{item.slug}}">Go</a></li>
      </div>
    </div>
  {% endfor -%}
  </div>
</div>  
  
  <!-- {% if pagination.items.size > 12 %}
    <nav aria-labelledby="my-pagination">
      <h2 id="my-pagination">This is my Pagination</h2>
      <ol>
        <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
        <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
    {%- endfor %}
        <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
        <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
      </ol>
    </nav>
  {% endif %} -->
</div>

<script type="text/javascript">
  function hasClass(ele, cls) {
    return !!ele.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'))
  }

  function addClass(ele, cls) {
    if (!hasClass(ele, cls)) ele.className += " " + cls
  }

  function removeClass(ele, cls) {
    if (hasClass(ele, cls)) {
      const reg = new RegExp('(\\s|^)' + cls + '(\\s|$)')
      ele.className = ele.className.replace(reg, ' ').trim()
    }
  }

  function showGroups() {
    const groups = document.querySelectorAll('.volunteer-group')
    const filterEls = document.querySelectorAll('.selected-filter')
    let filters = []
    filterEls.forEach((e) => {
      filters.push(e.getAttribute('data-id'))
    })
    if (filters.length) {
      resetFilters.innerText = 'Reset Filters'
    } else {
      resetFilters.innerText = 'Choose Filters'
    }
    groups.forEach((group) => {
      let matchesFilter = false
      if (!filters.length) return removeClass(group, 'hidden')
      filters.forEach((f) => {
        const groupId = group.getAttribute('data-' + f)
        if (groupId) matchesFilter = true
      })
      if (matchesFilter) removeClass(group, 'hidden')
      else addClass(group, 'hidden')
    })
  }

  const filters = document.querySelectorAll('.sortable-filter')

  filters.forEach((filter) => {
    filter.addEventListener('click', (e) => {
      if (hasClass(e.target, 'selected-filter')) {
        removeClass(e.target, 'selected-filter')
      } else {
        addClass(e.target, 'selected-filter')
      }
      showGroups()
    })
  })

  const resetFilters = document.querySelector('.reset-filters')
  resetFilters.addEventListener('click', (e) => {
    const filterEls = document.querySelectorAll('.selected-filter')
    filterEls.forEach((el) => {
      removeClass(el, 'selected-filter')
    })
    showGroups()
  })
</script>
