---
layout: map
pagination:
    data: places.places
    size: 1
    alias: place
permalink: "places/{{ place.slug }}/"
path: Places
---

<div class="bg-white">
    <div class="orange-triangle-corner">
    </div>
    <div class="container mx-auto">
        <div class="w-3/4 py-10 mx-auto">
            <h2 class="pt-6 pb-6 text-3xl font-black text-green-900 uppercase md:text-4xl">{{ place.name }}</h2>
            <h5 class="pt-10 pb-10 font-black text-green-900 uppercase">Last Updated 00/00/00</h5>
            <ol>
                <li class="font-serif leading-loose text-green-900">The Altadena Crest Trail runs east to west in Altadena.</li><br>
                <li class="font-serif leading-loose text-green-900">The Altadena Crest Trail Restoration Working Group advocates and organizes for this trail and meets once a month on Zoom. Learn more here: <a href="https://altadenatrails.org/">https://altadenatrails.org/</a>.</li><br>
            </ol>
            <div id="group-photo" class="w-full bg-blue-500 md:w-9/12 h-96">
                {% if place.photo != nil %}
                    <img class="object-cover w-full h-96" src="{{place.photo}}">
                {% else %}
                    <div class="w-full bg-yellow-500 h-96"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="group-photo" class="w-full mb-12 bg-blue-500 h-96">
        {% if place.photo != nil %}
            <img class="object-cover w-full h-96" src="{{place.photo}}">
        {% else %}
            <div class="w-full bg-yellow-500 h-96"></div>
        {% endif %}
    </div>
</div>

<div class="flex flex-col w-full mt-10 md:flex-row">
    <div class="flex w-full bg-gray-100 flex-stretch md:w-3/4">
        <div class="w-full">
            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
    <div class="flex flex-col flex-grow flex-stretch">
        <div class="flex-grow flex-shrink bg-green-700 p-7 flex-basis">
            <h3 class="text-white">
                Status:
                {% if place.status === true %}
                <span class="text-yellow-200">Open</span>
                {% else %}
                <span class="text-yellow-200">Closed</span>
                {% endif %}
            </h3>
        </div>
        <div class="flex-grow flex-shrink bg-green-800 p-7 flex-basis">
            <h3 class="font-black text-white uppercase">Maintained by:</h3>
            <p class="text-white">Group 1, Group 2, Group 3</p>
        </div>
    </div>
</div>

<div class="bg-green-700">
    <div class="container flex flex-col justify-between py-8 md:flex-row">
        <div class="flex flex-col md:flex-row">
            <h3 class="self-start pb-4 text-xl font-extrabold text-white uppercase">More about this Place</h3>
            <ul class="self-stretch pb-4 text-white md:pl-10 md:list-inside">
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2020/01/07/cleanup-success-east-forks-golden-preservation/">Nature for All: Cleanup Success - East Fork's Golden Preservation</a></li>
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2018/05/29/leadership-academy-spotlight-joel-glen/">Nature for All: Leadership Academy Spotlight - Joel Glen</a></li>
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2020/01/07/cleanup-success-east-forks-golden-preservation/">Nature for All: Cleanup Success - East Fork's Golden Preservation</a></li>
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2018/05/29/leadership-academy-spotlight-joel-glen/">Nature for All: Leadership Academy Spotlight - Joel Glen</a></li>
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2020/01/07/cleanup-success-east-forks-golden-preservation/">Nature for All: Cleanup Success - East Fork's Golden Preservation</a></li>
                <li><a class="underline hover:no-underline" href="https://lanatureforall.org/2018/05/29/leadership-academy-spotlight-joel-glen/">Nature for All: Leadership Academy Spotlight - Joel Glen</a></li>
            </ul>
        </div>
        <button class="self-start p-3 px-8 text-lg leading-7 tracking-wide text-left text-white bg-yellow-500 md:align-top flex-end font-extralight lg:text-center">Suggest an Edit</button>
    </div>
</div>


<script type="text/javascript">
    // customize the center for each trail separately
    var map = L.map('map', { fullscreenControl: true }).setView([34.20486, -118.12827], 16)
    var gl = L.mapboxGL({
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        style: 'https://api.maptiler.com/maps/5d346e94-c6a9-4c69-a2a2-47278fa23542/style.json?key=VK9en7fqcN8VTzfv5LVe'
    }).addTo(map)

    let marker, icon
    let markers = []
    {% for trailplace in place.places %}
    {% for place in places.places %}
    {% if trailplace === place.id %}
    icon = L.icon({
        iconUrl: '/static/img/icons/{{place.maki or "marker"}}-15.svg',
        iconSize: [30, 30]
    })
    parsed = JSON.parse('{{ place.location | safe }}')
    marker = L.marker([parsed.coordinates[1], parsed.coordinates[0]], { icon })
        .bindPopup("<b>{{ place.name }}</b><br>{{place.description}}")
        .addTo(map)
    markers.push(marker)
    {% endif %}
    {% endfor %}
    {% endfor %}
    let group = new L.featureGroup(markers)
    map.fitBounds(group.getBounds().pad(0.5))

    // for inspecting
    let mgl = gl._glMap

    run = (e) => {
    let features = mgl.queryRenderedFeatures(mgl.project([e.latlng.lng, e.latlng.lat]))
        console.log(features)
    }

    map.on('click', (e) => {
        run(e)
    })
</script>
