<form
  class="flex flex-col gap-3 sm:flex-row sm:max-w-md"
  action="https://buttondown.email/api/emails/embed-subscribe/trailangeles"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/trailangeles', 'popupwindow')"
>
  <input type="email" name="email" id="bd-email" placeholder="Enter your email"
    class="flex-1 px-4 py-3 tracking-wide text-green-900 bg-white rounded-lg font-extralight" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe"
    class="px-6 py-3 font-black tracking-wide text-green-900 uppercase transition rounded-lg cursor-pointer bg-yellow-200 hover:bg-white" />
</form>
