<div class="flex flex-col lg:flex-row lg:self-end lg:justify-end">
  <div>
    <div>
      <form
      class="flex flex-col lg:block"
      action="https://buttondown.email/api/emails/embed-subscribe/trailangeles"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/trailangeles', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
        <input type="email" class="p-3 tracking-wide font-extralight" name="email" id="bd-email" placeholder="Enter your email"/>
        <input type="hidden" value="1" name="embed" />
        <input type="submit" class="p-3 leading-7 tracking-wide text-left text-green-800 bg-yellow-200 font-extralight lg:text-center" value="Subscribe" />
      </form>
    </div>
  </div>
</div>

