<footer class="w-full bg-gray-900">
    <div class="container flex flex-wrap items-center justify-center py-12 mx-auto lg:justify-between">
        <div class="w-full overflow-hidden text-center lg:text-left lg:w-1/2">
            <h6 class="font-semibold text-gray-100">
                A project of <a class="underline hover:no-underline" target="_blank" alt="L.A. Nature for All" href="https://lanatureforall.org/">L.A. Nature for All</a>, <a target="_blank" alt="Angeles National Forest" class="underline hover:no-underline" href="https://www.fs.usda.gov/main/angeles/home">Angeles National Forest</a><br> & the <a class="underline hover:no-underline" alt="San Gabriel Mountains Community Collaborative" target="_blank" href="https://www.nationalforests.org/who-we-are/regional-offices/california-program/sangabrielmountains">San Gabriel Mountains Community Collaborative</a>
            </h6>
        </div>
      
        <div class="w-full lg:text-right lg:w-1/2">
          <ul class="text-center text-white lg:text-right">
            <li class="uppercase">About us</li>
            <li class="uppercase">FAQ</li>
          </ul>
          {% include "/email-subscriber.html" %}
        </div>
      
      </div>
</footer>
