<footer class="w-full bg-gray-900">
    <div class="container flex flex-wrap items-center justify-center p-12 mx-auto lg:justify-between lg:px-0">
        <div class="w-1/3 overflow-hidden">
            <h6 class="text-white">
                A project of <a class="underline hover:no-underline" target="_blank" alt="L.A. Nature for All" href="https://lanatureforall.org/">L.A. Nature for All</a>, <a target="_blank" alt="Angeles National Forest" class="underline hover:no-underline" href="https://www.fs.usda.gov/main/angeles/home">Angeles National Forest</a><br> & the <a class="underline hover:no-underline" alt="San Gabriel Mountains Community Collaborative" target="_blank" href="https://www.nationalforests.org/who-we-are/regional-offices/california-program/sangabrielmountains">San Gabriel Mountains Community Collaborative</a>
            </h6>
        </div>
      
        <div class="w-1/3 overflow-hidden">
          <!-- Column Content -->
        </div>
      
        <div class="w-1/3 pr-4 overflow-hidden text-right">
          <ul class="text-right text-white">
            <li class="uppercase">About us</li>
            <li class="uppercase">FAQ</li>
          </ul>
          <div class="flex justify-end">
            <input class="p-3" type="email" id="email" name="email" placeholder="E-mail address">
            <button type="button" class="p-3 bg-yellow-200">Subscribe</button>
          </div>
        </div>
      
      </div>
</footer>
