<div class="grid w-full grid-cols-1 my-8 lg:grid-cols-4 lg:mx-0">
    {% if groups %}
        {% set background = cycler("bg-green-900", "bg-green-700", "bg-green-600") %}
        {% for group in groups.slice(0,3) %}
            <div class="p-5 h-80 {{ background.next() }}">
                <h3 class="text-2xl font-extrabold text-white uppercase">{{group.name}}</h3>
                <h4 class="text-white">{{group.description | truncate(100)}}</h4>
                <a class="float-right p-2 text-2xl font-extrabold text-green-900 uppercase bg-yellow-200 rounded-full go-button" href="/volunteer-groups/{{group.slug}}">Go</a>
            </div>
            
        {% endfor %}
        <a
            href="/volunteer-groups/" 
            target="_blank"
            class="flex justify-start lg:justify-end lg:p-5 lg:bg-green-900 lg:h-80"
        >
            <div class="self-center" style="margin-right: -3.75rem">
                <div class="float-right w-10 overflow-hidden">
                    <div class="text-2xl text-green-900 origin-top-left transform rotate-45 bg-yellow-200 h-14"></div>
                </div>
                <div class="float-right p-3 text-2xl text-green-900 bg-yellow-200">View All Groups</div>
            </div>
        </a>
    {% endif %}
</div>
