<div class="grid w-full grid-cols-1 mt-8 lg:grid-cols-4 lg:mx-0">
    {% if groups %}
        {% set background = cycler("bg-green-100", "bg-green-200", "bg-green-300", "bg-green-400") %}
        {% for group in groups.slice(0,4) %}
            <a 
                href="/volunteer-groups/{{group.slug}}" 
                target="_blank"
                class="p-5 lg:h-80 h-40 {{ background.next() }}"
            >
                    <h3 class="uppercase">{{group.name}}</h3>
                    <h4>{{group.description | truncate(100)}}</h4>
            </a>
        {% endfor %}
    {% endif %}
</div>
