<div class="py-16 bg-green-700">
  <div class="container flex flex-col lg:justify-between">
    <div>
      <h1 class="text-6xl font-black text-white uppercase lg:text-8xl">
        Get<br>monthly<br>trail<br>updates
      </h2>
    </div>
    <div class="flex flex-col lg:flex-row lg:self-end lg:justify-end">
      <input class="p-3" type="email" id="email" name="email" placeholder="E-mail address">
      <button type="button" class="p-3 bg-yellow-200">Subscribe</button>
    </div>
  </div>
</div>
