<div class="splide">
  <div class="splide__track" data-glide-el="track">
    <ul class="splide__list">
      <li class="splide__slide">
          <div class="w-3/4 center-container">
            <h2 class="pt-10 text-lg font-extrabold text-center text-yellow-200 uppercase lg:pt-20 lg:text-2xl md:text-xl offset-underline">Introducing Trail Angeles</h2>
            <p class="w-3/4 pt-4 pb-12 font-serif text-sm leading-tight text-center text-white md:text-base md:pt-4 lg:pt-4 lg:w-1/2 md:text-large" style="margin: 0 auto;">This site was created by volunteers for volunteers, hikers and anyone who uses the Angeles National Forest. Much of the forest is maintained through volunteer efforts. We welcome you to volunteer to keep our forest accessible to everyone.<p>
            <a href="/blog/" class="px-4 py-2 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 md:px-6 md:py-3 lg:text-center">Learn more</a>
          </div>
          <div style="
              background: linear-gradient(rgba(2, 80, 47, 0.5), rgba(2, 80, 47, 0.5)), url(/static/img/introducing-trail-angeles.jpg);
              height: 366px;
              background-repeat: repeat;"></div>
      </li>
      <li class="splide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold text-yellow-200 uppercase text-xm lg:text-base md:text-base offset-underline">Volunteer group spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">East Fork's Golden Preservation</h2>
            <p class="w-4/6">Picking up over 8,000 pounds of trash from the East Fork of the San Gabriel River<p>
          </div>
          <div class="glide__content_bottom">
            <a href="/volunteer-groups/east-forks-golden-preservation/" class="px-4 py-2 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 md:px-6 md:py-3 lg:text-center">Volunteer</a>
          </div>
        </div>
        <div style="
        background: linear-gradient(rgba(2, 80, 47, 0.5), rgba(2, 80, 47, 0.5)), url(/static/img/slider-road.jpg);
        height: 366px;"></div>
      </li>
    </ul>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<script>
  new Splide( '.splide' ).mount()
</script>
