<div id="glide" class="glide---ltr glide--carousel glide--swipeable">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold uppercase text-xm lg:text-base md:text-base offset-underline">Volunteer group spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">East Fork's Golden Preservation</h2>
            <p class="w-4/6">Picking up over 8,000 pounds of trash from the East Fork of the San Gabriel River<p>
          </div>
          <div class="glide__content_bottom">
            <a href="/volunteer-groups/east-forks-golden-preservation/" class="px-6 py-3 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 lg:text-center">Volunteer</a>
          </div>
        </div>
        <img
          class="w-full home-full"
          src="/static/img/eastfork-big.jpg"
          alt=""
        />
      </li>
      <li class="glide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold uppercase text-xm lg:text-base md:text-base offset-underline">Trail spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">Altadena Crest Trail</h2>
          </div>
          <div class="glide__content_bottom">
            <a href="/places/altadena-crest-trail/" class="px-6 py-3 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 lg:text-center">Read morel</a>
          </div>
        </div>
        <img
          class="w-full home-full"
          src="/static/img/slider/slide1.jpg"
          alt=""
        />
      </li>
      <li class="glide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold uppercase text-xm lg:text-base md:text-base offset-underline">Volunteer group spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">Lowelifes Respectable Citizens' Club</h2>
            <p class="w-4/6">Maintain mountain biking trails in the front range with Lowelifes<p>
          </div>
          <div class="glide__content_bottom">
            <a href="" class="px-6 py-3 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 lg:text-center">Join</a>
          </div>
        </div>
        <img
          class="w-full home-full"
          src="/static/img/lowelifes-big.jpg"
          alt=""
        />
      </li>
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <div class="glide__arrow glide__arrow--left" data-glide-dir="<">
    </div>
    <div class="glide__arrow glide__arrow--right" data-glide-dir=">">
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  const config = {
    type: "carousel",
    perView: 1,
  };
  new Glide("#glide", config).mount();
</script>
