<div id="glide" class="glide---ltr glide--carousel glide--swipeable">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
          <div class="w-3/4 center-container">
            <h2 class="pt-10 text-lg font-extrabold text-center text-yellow-200 uppercase lg:pt-20 lg:text-2xl md:text-xl offset-underline">Introducing Trail Angeles</h2>
            <p class="w-3/4 pt-4 pb-12 font-serif text-sm leading-tight text-center text-white md:pt-4 lg:pt-4 lg:w-1/2 md:text-large" style="margin: 0 auto;">This site was created by volunteers for volunteers, hikers and anyone who uses the Angeles National Forest. Much of the forest is maintained through volunteer efforts. We welcome you to volunteer to keep our forest accessible to everyone.<p>
            <a href="/blog/" class="px-4 py-2 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 md:px-6 md:py-3 lg:text-center">Learn more</a>
          </div>
          <div style="
              background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/introducing-trail-angeles.jpg);
              width: 1440px;
              height: 366px;
          "></div>
      </li>
      <li class="glide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold uppercase text-xm lg:text-base md:text-base offset-underline">Volunteer group spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">East Fork's Golden Preservation</h2>
            <p class="w-4/6">Picking up over 8,000 pounds of trash from the East Fork of the San Gabriel River<p>
          </div>
          <div class="glide__content_bottom">
            <a href="/volunteer-groups/east-forks-golden-preservation/" class="px-4 py-2 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 md:px-6 md:py-3 lg:text-center">Volunteer</a>
          </div>
        </div>
        <div style="
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/eastfork-big.jpg);
        width: 1440px;
        height: 366px;
    "></div>
        <!-- <img
          class="w-full home-full"
          src="/static/img/eastfork-big.jpg"
          alt=""
        /> -->
      </li>
      <li class="glide__slide">
        <div class="mobile-container">
          <div class="glide__content_top">
            <h3 class="font-bold uppercase text-xm lg:text-base md:text-base offset-underline">Event spotlight</h3>
            <h2 class="text-lg lg:text-2xl md:text-xl">National Public Lands Day - Sat. Sep. 25</h2>
          </div>
          <div class="glide__content_bottom">
            <a href="/places/altadena-crest-trail/" class="px-4 py-2 text-lg font-light leading-7 tracking-wide text-left text-green-800 bg-yellow-200 md:px-6 md:py-3 lg:text-center">Read more</a>
          </div>
        </div>
        <div style="
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/eastfork-big.jpg);
        width: 1440px;
        height: 366px;
    "></div>
        <!-- <img
          class="w-full home-full"
          src="/static/img/slider/slide1.jpg"
          alt=""
        /> -->
      </li>
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <div class="glide__arrow glide__arrow--left" data-glide-dir="<">
    </div>
    <div class="glide__arrow glide__arrow--right" data-glide-dir=">">
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  const config = {
    type: "carousel",
    perView: 1,
  };
  new Glide("#glide", config).mount();
</script>
