<div class="grid w-full grid-cols-1 my-4 lg:my-10 lg:mb-8 lg:grid-cols-4 lg:mx-0">
    {% if trails.trails %}
        {% set background = cycler("bg-green-900", "bg-green-700", "bg-green-600") %}
        {% set testImage = cycler("trails-1.jpg", "trails-2.jpg", "trails-3.jpg") %}
        {% for trail in trails.trails.slice(0,3) %}
            <div class="pt-2 lg:p-0">
                <a href="/trails/{{trail.slug}}" alt="{{trail.name}}">
                    <img style="height: 160px; width: 100%; object-fit: cover;" src="/static/img/trails/{{ testImage.next() }}">
                </a>
                <div class="p-5 h-48 lg:h-60 {{ background.next() }} flex flex-col justify-between">
                    <h3 class="text-base font-extrabold tracking-wide text-white uppercase">{{trail.name}}</h3>
                    <h4 class="font-serif text-sm font-light leading-6 tracking-wide text-white">Trail description goes here | Region Name - Trail Type - Hook up to back-end</h4>
                    <a class="self-end float-right p-1 text-xl font-extrabold text-white uppercase bg-yellow-500 rounded-full go-button" href="/trails/{{trail.slug}}">Go</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <a
        href="/trails/" 
        target="_blank"
        class="flex justify-start lg:justify-end lg:p-5 lg:bg-green-900 lg:h-50"
    >
        <div class="self-center" style="margin-right: -3.75rem">
            <div class="float-right w-10 overflow-hidden">
                <div class="origin-top-left transform rotate-45 bg-yellow-500"  style="height: 52px"></div>
            </div>
            <div class="float-right px-6 py-3 text-lg font-medium leading-7 tracking-wide text-white bg-yellow-500">View All Trails</div>
        </div>
    </a>
</div>
