<div class="grid w-full grid-cols-1 my-8 lg:grid-cols-4 lg:mx-0">
    {% if trails.trails %}
        {% set background = cycler("bg-green-900", "bg-green-700", "bg-green-600") %}
        {% for trail in trails.trails.slice(0,3) %}
            <div class="p-5 h-60 lg:h-80 {{ background.next() }} flex flex-col justify-between">
                <h3 class="text-2xl font-extrabold text-white uppercase">{{trail.name}}</h3>
                <h4 class="text-white">{{trail.area}}</h4>
                <h4 class="text-white">{{trail.trailhead}}</h4>
                <a class="self-end float-right p-2 text-2xl font-extrabold text-white uppercase bg-yellow-500 rounded-full go-button" href="/trails/{{trail.slug}}">Go</a>
            </div>
        {% endfor %}
    {% endif %}
    <a
        href="/trails/" 
        target="_blank"
        class="flex justify-start lg:justify-end lg:p-5 lg:bg-green-900 lg:h-80"
    >
        <div class="self-center" style="margin-right: -3.75rem">
            <div class="float-right w-10 overflow-hidden">
                <div class="origin-top-left transform rotate-45 bg-yellow-500 h-14"></div>
            </div>
            <div class="float-right p-3 text-2xl text-white bg-yellow-500">View All Trails</div>
        </div>
    </a>
</div>
